/* wrapper class */
.navbar {
  width: 100%;
  padding: 25px 0 25px 0;
  background-color: #ff8800;
  color: #FFF;
  box-shadow: 0 10px 50px #000;
  font-size: 32px;
}

/* title at left end */
.title, .title:hover {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

/* flashes when guess is right or wrong */
/* .guessResult {

} */

/* displays the current number of correct guesses */
/* .score {

} */
